<h3 md-dialog-title>
  Criar item terceira coluna
</h3>
<md-dialog-content>
  <div>
    <span><strong>{{ selectedCardOne.name }}</strong></span>
  </div>
  <div>
    <span><strong>{{ selectedCardTwo.name }}</strong></span>
  </div>
  <br />
  <div>
    <md-form-field>
      <input mdInput [(ngModel)]="inputName" placeholder="Nome">
    </md-form-field>
  </div>
  <div>
    <md-form-field>
      <input mdInput [(ngModel)]="inputManager" placeholder="Gestor" [mdAutocomplete]="autocomplete"
        (keyup)="applyManagerFilter($event)" [value]="inputManagerName">
    </md-form-field>
  </div>
  <md-autocomplete #autocomplete="mdAutocomplete" [displayWith]="displayFn">
    <md-option *ngFor="let manager of filteredOptions | async" [value]="manager" >
       {{ manager.name }}
    </md-option>
  </md-autocomplete>
  <div>
    <md-form-field>
      <input mdInput [mdDatepicker]="picker" placeholder="Data alvo" [(ngModel)]="inputTargetDate">
      <md-datepicker-toggle mdSuffix [for]="picker"></md-datepicker-toggle>
      <md-datepicker #picker></md-datepicker>
    </md-form-field>
  </div>
</md-dialog-content>
<hr />
<md-dialog-actions>
  <button md-raised-button color="primary" (click)="criarItem()">Criar</button>
  <button [md-dialog-close]="false" md-raised-button>Cancelar</button>
</md-dialog-actions>